h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}
h3 {
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    border-width: auto;
    border-bottom: 1px solid #ccc;
}

img.speaker-photo {
    margin: 5px;
    padding: 2px;
    border: 1px solid #CCC;
    border-radius: 50%;
    width: 100px;
}

.container {
  margin-top: 30px;
}

/*
 * Cover
 * https://www.pakutaso.com/20131158315post-3469.html
 */
#cover {
    height: 500px;
    background-image: url(/img/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #464646;
    color: #FFFFFF;
}
#cover h1 {
    padding-top: 150px;
    font-size: 300%;
    color: #FFFFFF;
}
#cover h2 {
    font-size: 150%;
    color: #FFFFFF;
}

#cover p {
    font-size: 150%;
}

/* Page Header */
#page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #2BA6CB;
}
#page-header h1 {
    color: #FFFFFF;
}

#page-header h2 {
    color: #FFFFFF;
}

/* Sponsor list */
#sponsors {
  margin-top: 30px;
}
#sponsors li {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 25px;
}

#entry-limit-top {
    color:#FF9900;
    font-weight:bold;
    margin:-10px 0 0 40px;
}
#entry-limit-camp {
    color:#FF9900;
    font-weight:bold;
    margin:-10px 0 10px 10px;
}

#schedule table tbody tr {
    background-color: #FFF;
    border: 1px solid #DDD;
}
#schedule table th {
    text-align: center;
    white-space:: nowrap;
    border-right: 1px solid #DDD;
    width: 200px;
}
#schedule table td {
    text-align: center;
    width: 700px;
}
#schedule p.track-title {
    font-size: large;
    margin: 2px;
}
#schedule p.track-description {
    padding: 5px;
    text-align: left;
}
#schedule table tr.track-break {
    background-color: #F9F9F9;
}
#schedule ul li {
    text-align: left;
    padding-top: 10px;
    margin-left: 20px;
}

.staffs {
    columns: auto 1;
    list-style: none;
}
@media (min-width: 320px) {
    .staffs {
        column-count: 2;
    }
}
@media (min-width: 576px) {
    .staffs {
        column-count: 3;
    }
}
@media (min-width: 768px) {
    .staffs {
        column-count: 4;
    }
}
.staffs li {
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 180px;
}
.staffs img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
