h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}
h3 {
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    border-width: auto;
    border-bottom: 1px solid #ccc;
}

.container {
  margin-top: 30px;
}

/* Cover */
#cover {
    height: 500px;
    background-image: url(/img/2015/10981081_833368103368984_5511218503026796313_o.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #464646;
    color: #FFFFFF;
}
#cover h1 {
    padding-top: 100px;
    font-size: 300%;
    color: #FFFFFF;
}
#cover h2 {
    font-size: 150%;
    color: #FFFFFF;
}

#cover p {
    font-size: 150%;
}

/* Page Header */
#page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #2BA6CB;
}
#page-header h1 {
    color: #FFFFFF;
}

#page-header h2 {
    color: #FFFFFF;
}

/* Sponsor list */
#sponsors {
  margin-top: 30px;
}
#sponsors li {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 25px;
}

#entry-limit-top {
    color:#FF9900;
    font-weight:bold;
    margin:-10px 0 0 40px;
}
#entry-limit-camp {
    color:#FF9900;
    font-weight:bold;
    margin:-10px 0 10px 10px;
}
