<nav id="navigation" class="top-bar">
    <ul class="title-area">
        <li class="name"><h1><a href="/">{{ site.title }}</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li><a href="/about.html">ハッカーズチャンプルーについて</a></li>
            <li><a href="/events.html">開催実績</a></li>
            <li><a href="/policy.html">行動規範</a></li>
            <li><a href="https://suzuri.jp/hackerschamploo">公式グッズストア</a></li>
            <li><a href="https://docs.google.com/forms/d/1MGJ4bVv8hpyXeLjvcGzZDpl838ZGHPA_plLqX_BJSbA/viewform">お問い合わせ</a></li>
        </ul>
    </section>
</nav>
