<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    <div class="contain-to-grid fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="/{{page.home }}">{{ site.title }}</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="program.html">プログラム</a></li>
                <li><a href="camp.html">開発合宿</a></li>
                <li><a href="call4speakers.html">スピーカー募集</a></li>
                <li><a href="sponsors.html">スポンサー募集</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="https://suzuri.jp/hackerschamploo">公式グッズストア</a></li>
                <li><a href="https://docs.google.com/forms/d/1MGJ4bVv8hpyXeLjvcGzZDpl838ZGHPA_plLqX_BJSbA/viewform">お問い合わせ</a></li>
            </ul>
        </section>
    </nav>
    </div>

    {% include header.html %}

    <div class="row">
        <div id="container" class="small-12 small-centered columns">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
