<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    <header>
        <nav class="top-bar">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <ul class="title-area">
                        <li class="name"><h1><a href="/">{{ site.title }}</a></h1></li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="right">
                            <li><a href="/2014/program.html">プログラム</a></li>
                            <li><a href="https://suzuri.jp/hackerschamploo">公式グッズストア</a></li>
                            <li><a href="/2014/sponsors.html">スポンサー</a></li>
                            <li><a href="https://docs.google.com/forms/d/1MGJ4bVv8hpyXeLjvcGzZDpl838ZGHPA_plLqX_BJSbA/viewform">お問い合わせ</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <div id="container" class="small-12 small-centered columns">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
