<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=898106080215816&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% include nav.html %}

    <div id="cover">
        <div class="row">
            <div class="text-center">
                <h1>Hackers Champloo 2017</h1>
                <p>2017年6月21日(水)〜24日(土)</p>
                <a class="button alert" href="/2017/">さらに詳しく</a>
            </div>
        </div>
    </div>

    <a id="events">
    <div class="container row">
        <div class="large-10 large-centered text-center columns">
            <h2>これまでに開催したイベント</h2>
        </div>
       <div class="large-6 text-center columns">
            <div class="panel">
              <a href="2016/">2016年 開発合宿 + カンファレンス</a>
            </div>
        </div>
        <div class="large-6 text-center columns">
            <div class="panel">
              <a href="2015/">2015年 開発合宿 + カンファレンス</a>
            </div>
        </div>
        <div class="large-6 text-center columns">
            <div class="panel">
              <a href="2014/">2014年 カンファレンス</a>
            </div>
        </div>
        <div class="large-6 text-center columns">
            <div class="panel">
              <a href="2013/">2013年 カンファレンス</a>
            </div>
        </div>
        <div class="large-6 text-center columns">
        </div>
    </div>

    <div class="container row">
        <div class="large-10 large-centered text-center columns">
            <h2>コミュニティ支援</h2>
        </div>
        <div class="large-10 large-centered text-center columns">
            {% for supporter in page.supporters %}
                <div>
                    <a href="{{ supporter.url }}" target="_blank">
                        <img src="{{ supporter.logo }}" title="{{ supporter.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
