<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=898106080215816&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% include nav.html %}

    <div id="cover">
      <div class="row">
        <div class="small-12 text-center">
          <h1>Hackers Champloo 2016</h1>
          <p>6月22日(水)〜6月25日(土)</p>
          <a class="button alert" href="/2016/">さらに詳しく</a>
        </div>
      </div>
    </div>

    {% include footer.html %}
</body>
</html>
