<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41571260-1', 'hackers-champloo.org');
      ga('send', 'pageview');
    </script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=898106080215816&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header>
        <nav class="top-bar" style="margin-bottom: 0">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <ul class="title-area">
                        <li class="name"><h1><a href="/">{{ site.title }}</a></h1></li>

                    </ul>
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="divider"></li>
                            <li><a href="https://suzuri.jp/hackerschamploo">公式グッツストア</a></li>
                            <li><a href="https://docs.google.com/forms/d/1MGJ4bVv8hpyXeLjvcGzZDpl838ZGHPA_plLqX_BJSbA/viewform">お問い合わせ</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </nav>
    </header>

<div class="hero">
  <div class="row">
    <div class="large-12 columns intro-text">
      <a href="/2015/"><img src="/img/logo_sitetop.png"/></a>
      <h1 class="hero-text">Hackers Champloo</h1>
      <h4 class="hero-text">ハッカーズチャンプルー公式サイトへようこそ！</h4>
    </div>
  </div>
</div>

<!--
    <div class="row">
        <div id="container" class="large-10 columns">
            {{ content }}
        </div>
    </div>
-->

  <div class="row">
    <div class="large-9 columns">
        <h4>開催実績</h4>
        <div class="large-4 columns">
            <a href="/2015/">2015 [New!]</a>
        </div>
        <div class="large-4 columns">
            <a href="/2014/">2014</a>
            <a href="/2014/"><img src="/img/2014/10494940_657470154336439_1886959937682962608_o.jpg"></a>
        </div>
        <div class="large-4 columns">
            <a href="/2013/">2013</a>
            <a href="/2013/"><img src="/img/2013/20130829010153.jpg"></a>
        </div>
    </div>
  </div>


    <hr />

    <div class="row">
        <footer class="right">
        <p>&copy; {{ site.author }} <a href="/about.html"><img src="/img/hclogo_box1.png" width="61" height="61" border="0"></a></p>
        </footer>
    </div>
</body>
</html>
